<html lang='es'>

<head>
    {{>head}}
</head>

<body>
    <table style="width: 100%;">
        <tr>
            <td>Argumentos: </td>
            <td>{{data.args}} </td>
        </tr>
        <tr>
            <td>OS: </td>
            <td>{{data.os}} </td>
        </tr>
        <tr>
            <td>Versión de Node: </td>
            <td>{{data.nodeVersion}} </td>
        </tr>
        <tr>
            <td>Uso de Memoria: </td>
            <td>{{data.memoryUsage}} </td>
        </tr>
        <tr>
            <td>Path: </td>
            <td>{{data.args}} </td>
        </tr>
        <tr>
            <td>Process ID: </td>
            <td>{{data.processId}} </td>
        </tr>
        <tr>
            <td>Carpeta del Proyecto: </td>
            <td>{{data.dirPath}} </td>
        </tr>
    </table>
</body>

</html>